<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{TITLE}}</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="all">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500,500i,700,700i" rel="stylesheet">
</head>
<body>
<pre>
