body {
  background-color: #f8f8f8;
  color: #000;
  font-size: 14px;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.8;
  margin-left: 8rem;
}
pre {
  font-family: "IBM Plex Mono", monospace;
}

